# Google Sheets service account credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=hogwarts-automation@hogwarts-automation.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=1rZQ7OboQX3P83FprGJ7zIqpIjW4oUggIik96JDQzPgU
